body{
  background: #85dcf9;
  color: #000000;
  font-family: 'Segoe UI';
}

label{
  width: 5%;
  display: inline-block;
  text-align: right;
}

input{
  background: #e5e5e5;
  color: #303030;
  font-size: 120%;
  border: none;
}

.Message{
  color: #48cbe5;
}

#Main{
  background: #48cbe5;
  border-radius: 1%;
  padding-left: 1%;
  padding-right: 5%;
}

#Title{
  font-size: 300%;
}